<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div>
    <form action="/signup" method="post">
        <h1 id="hea">SignUp Form</h1>
        <label for="username" name="username" id="lab">UserName</label>
        <input type="text" name="username" required id="wid"><br><br>
        <label for="password" name="username" id="lab">Password</label>
        <input type="password" name="password" id="wid" required><br><br>
       <button type="submit" id="but">signUp</button>
    </form>
    </div>
</body>
</html>